<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <main>
        <div>

            <h1>{{todolist.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            </p>


            <h2>Tasks</h2>

            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for tasks in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' tasks.id %}">{{tasks.task}}</a>


                        </td>
                        <td>{{tasks.due_date|date:'%b %d %y'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>